body {
    background-color: rgb(139, 226, 139);
}

.header {
    background-color: rgb(91, 214, 91);
    border-radius: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: flex-start;

    
}

.header > p {
    font-size: 24px;
}

.list-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: rgb(52, 187, 52);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    justify-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
}

h3 {
    color: rgb(97, 94, 94);
}

a {
    text-decoration: none;
    font-size: 20px;
    color:rgb(97, 94, 94);
    margin-bottom: 2px;
}
